nav {
  padding: 10px 2%;
  justify-content: space-between;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  background-color: #fff;
  position: sticky;
  top: 10px;
  z-index: 10;
}

.nav-left .menu-icon {
  margin-right: 25px;
  font-size: 22px;
}

.nav-left .logo {
  width: 130px;
  display: flex;
  align-items: end;
  font-weight: bold;
  color: red;
}

.nav-left .logo-icon {
  color: red;
  font-size: 30px;
  margin-right: -3px;
}

.nav-middle .search-box {
  border: 1px solid #ccc;
  margin-right: 15px;
  padding: 8px 12px;
  border-radius: 25px;
}

.nav-middle .search-box input {
  width: 400px;
  border: 0;
  outline: 0;
  background: transparent;
}

.nav-middle .search-box img {
  width: 15px;
}
.nav-right {
  width: 170px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.nav-right span {
  font-size: 20px;
}
.nav-right .upload-logo {
  color: red;
}
.nav-right img {
  width: 35px;
  object-fit: cover;
  object-position: top;
  border-radius: 50%;
  height: 35px;
  margin-right: 25px;
}

.nav-right .user-icon {
  width: 35px;
  border-radius: 50%;
}
