.sidebar {
  background-color: #fff;
  width: 15%;
  height: 100vh;
  position: fixed;
  top: 0;
  padding-left: 2%;
  padding-top: 80px;
}
.shortcut-links .side-link-icon {
  font-size: 18px;
  margin-right: 15px;
}

.side-link {
  display: flex;
  align-items: center;
  margin-bottom: 20px;
  width: fit-content;
  flex-wrap: wrap;
  cursor: pointer;
}
.side-link p {
  font-weight: 400;
  font-size: 15px;
}

.sidebar hr {
  border: 0;
  height: 1px;
  background: #ccc;
  width: 85%;
}

.subscribed-list h3 {
  font-size: 13px;
  margin: 13px 0;
  color: #5a5a5a;
}

.small-sidebar {
  width: 5%;
}

.small-sidebar p {
  display: none;
}
.small-sidebar h3 {
  display: none;
}

.small-sidebar hr {
  width: 50%;
  margin-bottom: 25px;
}

.subscribed-list .side-link {
  width: 100%;
  display: flex;
  align-items: center;
}

.subscribed-list .side-link img {
  width: 30px;
  height: 30px;
  border-radius: 50%;
  object-fit: cover;
  object-position: top;
  font-size: 14px;
  margin-right: 10px;
}

.subscribed-list .side-link p {
  font-weight: 700;
  font-size: 14px;
  text-align: left;
}

.side-link.active .side-link-icon {
  padding-bottom: 2px;
  border-bottom: 3px solid red;
}

@media (max-width: 900px) {
  .sidebar {
    display: none;
  }
}
